@import'./global.scss';

#skill h2{
    color: $second-color;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
    span{
        color: $colorHover;
    } 
}

section div{
    display: flex;
    text-align: center;
    gap: 20px;
}

#skill img{
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.artBack{
    background: $backCard;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

h3{
    color: $second-color;
    font-size: 20px;
}

@media screen and (max-width:1024px) {

    #skill div{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 80px;
    }
}

@media screen and (max-width:767px){

    #skill{
        padding: 20px;
        div{
            display: block;
        }
    }

    .artBack{
        padding: 10px 0;
        margin-bottom: 40px;
    }
}