@import'./global.scss';

section h2{
    color: $second-color;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 40px;
}

h2 span{
    color: $colorHover;
}

section div{
    display: flex;
    text-align: center;
    object-fit: contain;
    gap: 20px;
}

#skill img{
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.artBack{
    background: $backCard;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}


h3{
    color: $second-color;
    font-size: 20px;
}