@import'./global.scss';

section h2{
    color: $second-color;
    font-size: 2rem;
    text-align: center;
}

h2 span{
    color: $colorHover;
}

section div{
    display: flex;
    text-align: center;
    align-items: center;
    object-fit: contain;
}

img{
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}