@import'./variables';

#sectionContact{
    max-width: 1440px;
    margin: auto;
}

#sectionContact h1{
    text-align: center;
    font-size: 2rem;
    margin: 40px;
    span{
        color: $colorHover;
    }
}

#sectionContact div{
    width: 70%;
    margin: auto;
    background: $backCard;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    p{
        color: $fontColor;
    }
}

#sectionContact article{
    display: flex;
    align-items: center;
    margin-top: 20px;
    color: $fontColor;
    p{
        margin-left: 10px;
        font-size: 15px;
    }
    p:hover{
        color: $colorHover;
    }
}

svg{
    font-size: 30px;
}

#flex{
    display: flex;
    width: 60%;
    gap: 40px;
}