@import'./global.scss';
@import'./variables';

.project-card{
    background: $backCard;
    display: block;
    width: 100%;
    border-radius: 20px;
    margin-top: 20px;
}

.project-card img{
    width: 100%;
    border-radius: 20px;
}

.project-card h3{
    margin: 10px;
}

#sectionPro h2{
    color: $second-color;
    text-align: center;
    font-size: 2rem;
}

.project-card p{
    color: #fff;
    padding: 20px;
}